body{
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    color: black;
}
.accueil{
    background-image: url('../Images/fond.jpg');
    height: 100vh;
}
.logo{
    margin-left: 470px;
    width: 600px;
}
.modal-content{
    width: 500px;
    margin:auto;
}
.modal-body{
    background-color: rgb(163, 118, 87);
}
.modal-tutorial{
    display:none;
    background-color: rgb(163, 118, 87);
    height: 2px;

}
#btn_endtutorial{
    margin-left: 170px;

}
.container-fluid{
    display:none;
}
.col-10{
    position: relative;
    }
.col-2{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: grey;
    overflow: hidden;
}
button:not(#new,.btn){
    border: 1px solid black;   
    height:60px;
    width:60px;
    margin-left: 10%;     
    }
.btn{
    width: 150px;
    border: 1px solid black;
    margin: 40px;
    background-color: rgb(186, 178, 175);
}

button{
    overflow: auto;
}

#new{
    width: 120px;
    height: 80px;
    font-size: 25px;
    border: 1px solid black;  
    overflow: hidden;
}
#axe{
    height:60px;
    width:60px;
    background-image: url('../Images/Axe.png');
    background-size:contain; 
    background-repeat: no-repeat;
}
#pickaxe{
    height:60px;
    width:60px;
    background-image: url('../Images/pickaxe.jpg');
    background-size:contain; 
    background-repeat: no-repeat;
}
#shovel{
    height:60px;
    width:60px;
    background-image: url('../Images/shovel.jpeg'); 
    background-size:contain; 
    background-repeat: no-repeat;
}
.elt{
    height: 42px;
    width: 42px;
    background-size: cover;
    background-repeat: no-repeat;

}
.elt:hover{
    border: 1px solid black;

}
.sky{
    background-color: #9bc1f9;
}
.night-sky{
    background-color: #131862;
}

.grass{
    background-image: url('../Images/grass.jpeg');
}
.stone{
    background-image: url('../Images/stone.PNG');
}
.tree{
    background-image: url('../Images/Tree.png');
}
.cloud{
    background-color: rgb(255, 255, 255);
}
.night-cloud{
    background-color: #465b70;
}
.land{
    background-image: url('../Images/land.jpg');

}
.wood{
    background-image: url('../Images/wood.jpg');
}
.empty{
    background-image: url('../Images/noir.jpg');

}
.line{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inventory{
    height:60px;
    width:60px;
    background-size: contain;
    color: white;
    font-family: 'Press Start 2P', cursive;

}
