body{
    height: 100vh;
}
.col-10{
position: relative;
width: 80%;
}
.col-2{
    width:20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: grey;
    overflow: hidden;
}
button:not(#new){
    border: 1px solid black;   
    height: 7vh;
    width: 7vh;
    margin-left: 10%;
    

}
#new{
    width: 100%;
    height: 8%;
    font-family: 'Press Start 2P', cursive;
    font-size: 3vh;
    border: 1px solid black;  
    overflow: hidden;
}
#axe{
background-image: url('../Images/Axe.png');
background-size:contain; 
background-repeat: no-repeat;
}
#pickaxe{
    background-image: url('../Images/pickaxe.jpg');
    background-size:contain; 
    background-repeat: no-repeat;
}
#shovel{
    background-image: url('../Images/shovel.jpeg'); 
    background-size:contain; 
    background-repeat: no-repeat;
}
.elt{
    height:40px;
    width:40px;
    background-size: cover;
    background-repeat: no-repeat;

}
.elt:hover{
    border: 1px solid black;

}
.sky{
    background-color: #9bc1f9;
}
.grass{
    background-image: url('../Images/grass.jpeg');
}
.stone{
    background-image: url('../Images/stone.PNG');
}
.tree{
    background-image: url('../Images/Tree.png');
}
.cloud{
    background-color: rgb(255, 255, 255);
}
.land{
    background-image: url('../Images/land.jpg');

}
.wood{
    background-image: url('../Images/wood.jpg');
}
.empty{
    background-image: url('../Images/noir.jpg');

}
.line{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inventory{
    height:40px;
    width:40px;
    background-size: contain;
    color: white;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;

}